.row-fluid.top
  h1 #{title}
#ListOptionView(style='margin: 20px;')
  p
    span#description #{description}
    if permissions.group_admin
      button#editProfile.btn.btn-link Edit

#actions(style='margin: 20px;')
  if permissions.add_event
    a.btn.btn-large.btn-block.btn-primary(href='#add/event', type='button') Add Event

#subscriptions
  if subscriptions
    h1 Subscriptions
    for sub in subscriptions
      input(type="checkbox", checked="true") 
      &nbsp; 
      a(href="#group/#{sub.id}") &nbsp;#{sub.title}

#listOptionPanels
  div
    a(href='#{icalURL}', target='_blank') Export
